body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

input, select, button {
  padding: 10px;
  margin: 5px;
}

button {
  cursor: pointer;
  font-size: 16px;
}

.hidden {
  display: none;
}

#talkBtn {
  background: red;
  border: none;
  color: white;
  border-radius: 10px;
}

#talkBtn:active {
  background: green;
}
